@using CourseWork2.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<div class="jumbotron mt-3">
    <div class="container ">
        <h1 class="display-3">Welcome,  @User.Identity.Name</h1>

    </div>
</div>


@*<div class="card-deck text-primary">
    <div class="card text-center">
        <h1 class="card-title display-2 align-middle">
        </h1>
        <div class="card-footer display-4">
            <a herf="#">Users</a>
        </div>
    </div>

</div>*@