@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Available Role for Application</h2>
<a class="btn btn-facebook" href="@Url.Action("Create","Role")">Create Role</a>
<a class="btn btn-facebook" href="@Url.Action("RegisterRole","Account")">Register Role</a>
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Role Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="c">
                @item.Name
            </td>
        </tr>
    }
</table>


